.project-tab #tabs{
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    border-color:  #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;

}
.project-tab .nav-link {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}


.project-tab a{
    text-decoration: none;
    color: #233;
    font-weight: 600;
}
.column-title {
    text-align: center;
}
.section-title {
    text-align: center;
    margin-bottom: 50px;
    color: #0062cc;
}

.section-subtitle {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #0062cc;
}
