@media screen and (min-width: 35.5em) {
	.pure-u-sm-1,.pure-u-sm-1-1,.pure-u-sm-1-2,.pure-u-sm-1-3,.pure-u-sm-2-3,.pure-u-sm-1-4,.pure-u-sm-3-4,.pure-u-sm-1-5,.pure-u-sm-2-5,.pure-u-sm-3-5,.pure-u-sm-4-5,.pure-u-sm-5-5,.pure-u-sm-1-6,.pure-u-sm-5-6,.pure-u-sm-1-8,.pure-u-sm-3-8,.pure-u-sm-5-8,.pure-u-sm-7-8,.pure-u-sm-1-12,.pure-u-sm-5-12,.pure-u-sm-7-12,.pure-u-sm-11-12,.pure-u-sm-1-24,.pure-u-sm-2-24,.pure-u-sm-3-24,.pure-u-sm-4-24,.pure-u-sm-5-24,.pure-u-sm-6-24,.pure-u-sm-7-24,.pure-u-sm-8-24,.pure-u-sm-9-24,.pure-u-sm-10-24,.pure-u-sm-11-24,.pure-u-sm-12-24,.pure-u-sm-13-24,.pure-u-sm-14-24,.pure-u-sm-15-24,.pure-u-sm-16-24,.pure-u-sm-17-24,.pure-u-sm-18-24,.pure-u-sm-19-24,.pure-u-sm-20-24,.pure-u-sm-21-24,.pure-u-sm-22-24,.pure-u-sm-23-24,.pure-u-sm-24-24
		{
		display: inline-block;
		*display: inline;
		zoom: 1;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto;
	}
	.pure-u-sm-1-24 {
		width: 4.1667%;
		*width: 4.1357%;
	}
	.pure-u-sm-1-12,.pure-u-sm-2-24 {
		width: 8.3333%;
		*width: 8.3023%;
	}
	.pure-u-sm-1-8,.pure-u-sm-3-24 {
		width: 12.5000%;
		*width: 12.4690%;
	}
	.pure-u-sm-1-6,.pure-u-sm-4-24 {
		width: 16.6667%;
		*width: 16.6357%;
	}
	.pure-u-sm-1-5 {
		width: 20%;
		*width: 19.9690%;
	}
	.pure-u-sm-5-24 {
		width: 20.8333%;
		*width: 20.8023%;
	}
	.pure-u-sm-1-4,.pure-u-sm-6-24 {
		width: 25%;
		*width: 24.9690%;
	}
	.pure-u-sm-7-24 {
		width: 29.1667%;
		*width: 29.1357%;
	}
	.pure-u-sm-1-3,.pure-u-sm-8-24 {
		width: 33.3333%;
		*width: 33.3023%;
	}
	.pure-u-sm-3-8,.pure-u-sm-9-24 {
		width: 37.5000%;
		*width: 37.4690%;
	}
	.pure-u-sm-2-5 {
		width: 40%;
		*width: 39.9690%;
	}
	.pure-u-sm-5-12,.pure-u-sm-10-24 {
		width: 41.6667%;
		*width: 41.6357%;
	}
	.pure-u-sm-11-24 {
		width: 45.8333%;
		*width: 45.8023%;
	}
	.pure-u-sm-1-2,.pure-u-sm-12-24 {
		width: 50%;
		*width: 49.9690%;
	}
	.pure-u-sm-13-24 {
		width: 54.1667%;
		*width: 54.1357%;
	}
	.pure-u-sm-7-12,.pure-u-sm-14-24 {
		width: 58.3333%;
		*width: 58.3023%;
	}
	.pure-u-sm-3-5 {
		width: 60%;
		*width: 59.9690%;
	}
	.pure-u-sm-5-8,.pure-u-sm-15-24 {
		width: 62.5000%;
		*width: 62.4690%;
	}
	.pure-u-sm-2-3,.pure-u-sm-16-24 {
		width: 66.6667%;
		*width: 66.6357%;
	}
	.pure-u-sm-17-24 {
		width: 70.8333%;
		*width: 70.8023%;
	}
	.pure-u-sm-3-4,.pure-u-sm-18-24 {
		width: 75%;
		*width: 74.9690%;
	}
	.pure-u-sm-19-24 {
		width: 79.1667%;
		*width: 79.1357%;
	}
	.pure-u-sm-4-5 {
		width: 80%;
		*width: 79.9690%;
	}
	.pure-u-sm-5-6,.pure-u-sm-20-24 {
		width: 83.3333%;
		*width: 83.3023%;
	}
	.pure-u-sm-7-8,.pure-u-sm-21-24 {
		width: 87.5000%;
		*width: 87.4690%;
	}
	.pure-u-sm-11-12,.pure-u-sm-22-24 {
		width: 91.6667%;
		*width: 91.6357%;
	}
	.pure-u-sm-23-24 {
		width: 95.8333%;
		*width: 95.8023%;
	}
	.pure-u-sm-1,.pure-u-sm-1-1,.pure-u-sm-5-5,.pure-u-sm-24-24 {
		width: 100%;
	}
}

@media screen and (min-width: 48em) {
	.pure-u-med-1,.pure-u-med-1-1,.pure-u-med-1-2,.pure-u-med-1-3,.pure-u-med-2-3,.pure-u-med-1-4,.pure-u-med-3-4,.pure-u-med-1-5,.pure-u-med-2-5,.pure-u-med-3-5,.pure-u-med-4-5,.pure-u-med-5-5,.pure-u-med-1-6,.pure-u-med-5-6,.pure-u-med-1-8,.pure-u-med-3-8,.pure-u-med-5-8,.pure-u-med-7-8,.pure-u-med-1-12,.pure-u-med-5-12,.pure-u-med-7-12,.pure-u-med-11-12,.pure-u-med-1-24,.pure-u-med-2-24,.pure-u-med-3-24,.pure-u-med-4-24,.pure-u-med-5-24,.pure-u-med-6-24,.pure-u-med-7-24,.pure-u-med-8-24,.pure-u-med-9-24,.pure-u-med-10-24,.pure-u-med-11-24,.pure-u-med-12-24,.pure-u-med-13-24,.pure-u-med-14-24,.pure-u-med-15-24,.pure-u-med-16-24,.pure-u-med-17-24,.pure-u-med-18-24,.pure-u-med-19-24,.pure-u-med-20-24,.pure-u-med-21-24,.pure-u-med-22-24,.pure-u-med-23-24,.pure-u-med-24-24
		{
		display: inline-block;
		*display: inline;
		zoom: 1;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto;
	}
	.pure-u-med-1-24 {
		width: 4.1667%;
		*width: 4.1357%;
	}
	.pure-u-med-1-12,.pure-u-med-2-24 {
		width: 8.3333%;
		*width: 8.3023%;
	}
	.pure-u-med-1-8,.pure-u-med-3-24 {
		width: 12.5000%;
		*width: 12.4690%;
	}
	.pure-u-med-1-6,.pure-u-med-4-24 {
		width: 16.6667%;
		*width: 16.6357%;
	}
	.pure-u-med-1-5 {
		width: 20%;
		*width: 19.9690%;
	}
	.pure-u-med-5-24 {
		width: 20.8333%;
		*width: 20.8023%;
	}
	.pure-u-med-1-4,.pure-u-med-6-24 {
		width: 25%;
		*width: 24.9690%;
	}
	.pure-u-med-7-24 {
		width: 29.1667%;
		*width: 29.1357%;
	}
	.pure-u-med-1-3,.pure-u-med-8-24 {
		width: 33.3333%;
		*width: 33.3023%;
	}
	.pure-u-med-3-8,.pure-u-med-9-24 {
		width: 37.5000%;
		*width: 37.4690%;
	}
	.pure-u-med-2-5 {
		width: 40%;
		*width: 39.9690%;
	}
	.pure-u-med-5-12,.pure-u-med-10-24 {
		width: 41.6667%;
		*width: 41.6357%;
	}
	.pure-u-med-11-24 {
		width: 45.8333%;
		*width: 45.8023%;
	}
	.pure-u-med-1-2,.pure-u-med-12-24 {
		width: 50%;
		*width: 49.9690%;
	}
	.pure-u-med-13-24 {
		width: 54.1667%;
		*width: 54.1357%;
	}
	.pure-u-med-7-12,.pure-u-med-14-24 {
		width: 58.3333%;
		*width: 58.3023%;
	}
	.pure-u-med-3-5 {
		width: 60%;
		*width: 59.9690%;
	}
	.pure-u-med-5-8,.pure-u-med-15-24 {
		width: 62.5000%;
		*width: 62.4690%;
	}
	.pure-u-med-2-3,.pure-u-med-16-24 {
		width: 66.6667%;
		*width: 66.6357%;
	}
	.pure-u-med-17-24 {
		width: 70.8333%;
		*width: 70.8023%;
	}
	.pure-u-med-3-4,.pure-u-med-18-24 {
		width: 75%;
		*width: 74.9690%;
	}
	.pure-u-med-19-24 {
		width: 79.1667%;
		*width: 79.1357%;
	}
	.pure-u-med-4-5 {
		width: 80%;
		*width: 79.9690%;
	}
	.pure-u-med-5-6,.pure-u-med-20-24 {
		width: 83.3333%;
		*width: 83.3023%;
	}
	.pure-u-med-7-8,.pure-u-med-21-24 {
		width: 87.5000%;
		*width: 87.4690%;
	}
	.pure-u-med-11-12,.pure-u-med-22-24 {
		width: 91.6667%;
		*width: 91.6357%;
	}
	.pure-u-med-23-24 {
		width: 95.8333%;
		*width: 95.8023%;
	}
	.pure-u-med-1,.pure-u-med-1-1,.pure-u-med-5-5,.pure-u-med-24-24 {
		width: 100%;
	}
}

@media screen and (min-width: 58em) {
	.pure-u-lrg-1,.pure-u-lrg-1-1,.pure-u-lrg-1-2,.pure-u-lrg-1-3,.pure-u-lrg-2-3,.pure-u-lrg-1-4,.pure-u-lrg-3-4,.pure-u-lrg-1-5,.pure-u-lrg-2-5,.pure-u-lrg-3-5,.pure-u-lrg-4-5,.pure-u-lrg-5-5,.pure-u-lrg-1-6,.pure-u-lrg-5-6,.pure-u-lrg-1-8,.pure-u-lrg-3-8,.pure-u-lrg-5-8,.pure-u-lrg-7-8,.pure-u-lrg-1-12,.pure-u-lrg-5-12,.pure-u-lrg-7-12,.pure-u-lrg-11-12,.pure-u-lrg-1-24,.pure-u-lrg-2-24,.pure-u-lrg-3-24,.pure-u-lrg-4-24,.pure-u-lrg-5-24,.pure-u-lrg-6-24,.pure-u-lrg-7-24,.pure-u-lrg-8-24,.pure-u-lrg-9-24,.pure-u-lrg-10-24,.pure-u-lrg-11-24,.pure-u-lrg-12-24,.pure-u-lrg-13-24,.pure-u-lrg-14-24,.pure-u-lrg-15-24,.pure-u-lrg-16-24,.pure-u-lrg-17-24,.pure-u-lrg-18-24,.pure-u-lrg-19-24,.pure-u-lrg-20-24,.pure-u-lrg-21-24,.pure-u-lrg-22-24,.pure-u-lrg-23-24,.pure-u-lrg-24-24
		{
		display: inline-block;
		*display: inline;
		zoom: 1;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto;
	}
	.pure-u-lrg-1-24 {
		width: 4.1667%;
		*width: 4.1357%;
	}
	.pure-u-lrg-1-12,.pure-u-lrg-2-24 {
		width: 8.3333%;
		*width: 8.3023%;
	}
	.pure-u-lrg-1-8,.pure-u-lrg-3-24 {
		width: 12.5000%;
		*width: 12.4690%;
	}
	.pure-u-lrg-1-6,.pure-u-lrg-4-24 {
		width: 16.6667%;
		*width: 16.6357%;
	}
	.pure-u-lrg-1-5 {
		width: 20%;
		*width: 19.9690%;
	}
	.pure-u-lrg-5-24 {
		width: 20.8333%;
		*width: 20.8023%;
	}
	.pure-u-lrg-1-4,.pure-u-lrg-6-24 {
		width: 25%;
		*width: 24.9690%;
	}
	.pure-u-lrg-7-24 {
		width: 29.1667%;
		*width: 29.1357%;
	}
	.pure-u-lrg-1-3,.pure-u-lrg-8-24 {
		width: 33.3333%;
		*width: 33.3023%;
	}
	.pure-u-lrg-3-8,.pure-u-lrg-9-24 {
		width: 37.5000%;
		*width: 37.4690%;
	}
	.pure-u-lrg-2-5 {
		width: 40%;
		*width: 39.9690%;
	}
	.pure-u-lrg-5-12,.pure-u-lrg-10-24 {
		width: 41.6667%;
		*width: 41.6357%;
	}
	.pure-u-lrg-11-24 {
		width: 45.8333%;
		*width: 45.8023%;
	}
	.pure-u-lrg-1-2,.pure-u-lrg-12-24 {
		width: 50%;
		*width: 49.9690%;
	}
	.pure-u-lrg-13-24 {
		width: 54.1667%;
		*width: 54.1357%;
	}
	.pure-u-lrg-7-12,.pure-u-lrg-14-24 {
		width: 58.3333%;
		*width: 58.3023%;
	}
	.pure-u-lrg-3-5 {
		width: 60%;
		*width: 59.9690%;
	}
	.pure-u-lrg-5-8,.pure-u-lrg-15-24 {
		width: 62.5000%;
		*width: 62.4690%;
	}
	.pure-u-lrg-2-3,.pure-u-lrg-16-24 {
		width: 66.6667%;
		*width: 66.6357%;
	}
	.pure-u-lrg-17-24 {
		width: 70.8333%;
		*width: 70.8023%;
	}
	.pure-u-lrg-3-4,.pure-u-lrg-18-24 {
		width: 75%;
		*width: 74.9690%;
	}
	.pure-u-lrg-19-24 {
		width: 79.1667%;
		*width: 79.1357%;
	}
	.pure-u-lrg-4-5 {
		width: 80%;
		*width: 79.9690%;
	}
	.pure-u-lrg-5-6,.pure-u-lrg-20-24 {
		width: 83.3333%;
		*width: 83.3023%;
	}
	.pure-u-lrg-7-8,.pure-u-lrg-21-24 {
		width: 87.5000%;
		*width: 87.4690%;
	}
	.pure-u-lrg-11-12,.pure-u-lrg-22-24 {
		width: 91.6667%;
		*width: 91.6357%;
	}
	.pure-u-lrg-23-24 {
		width: 95.8333%;
		*width: 95.8023%;
	}
	.pure-u-lrg-1,.pure-u-lrg-1-1,.pure-u-lrg-5-5,.pure-u-lrg-24-24 {
		width: 100%;
	}
}

@media screen and (min-width: 75em) {
	.pure-u-xl-1,.pure-u-xl-1-1,.pure-u-xl-1-2,.pure-u-xl-1-3,.pure-u-xl-2-3,.pure-u-xl-1-4,.pure-u-xl-3-4,.pure-u-xl-1-5,.pure-u-xl-2-5,.pure-u-xl-3-5,.pure-u-xl-4-5,.pure-u-xl-5-5,.pure-u-xl-1-6,.pure-u-xl-5-6,.pure-u-xl-1-8,.pure-u-xl-3-8,.pure-u-xl-5-8,.pure-u-xl-7-8,.pure-u-xl-1-12,.pure-u-xl-5-12,.pure-u-xl-7-12,.pure-u-xl-11-12,.pure-u-xl-1-24,.pure-u-xl-2-24,.pure-u-xl-3-24,.pure-u-xl-4-24,.pure-u-xl-5-24,.pure-u-xl-6-24,.pure-u-xl-7-24,.pure-u-xl-8-24,.pure-u-xl-9-24,.pure-u-xl-10-24,.pure-u-xl-11-24,.pure-u-xl-12-24,.pure-u-xl-13-24,.pure-u-xl-14-24,.pure-u-xl-15-24,.pure-u-xl-16-24,.pure-u-xl-17-24,.pure-u-xl-18-24,.pure-u-xl-19-24,.pure-u-xl-20-24,.pure-u-xl-21-24,.pure-u-xl-22-24,.pure-u-xl-23-24,.pure-u-xl-24-24
		{
		display: inline-block;
		*display: inline;
		zoom: 1;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto;
	}
	.pure-u-xl-1-24 {
		width: 4.1667%;
		*width: 4.1357%;
	}
	.pure-u-xl-1-12,.pure-u-xl-2-24 {
		width: 8.3333%;
		*width: 8.3023%;
	}
	.pure-u-xl-1-8,.pure-u-xl-3-24 {
		width: 12.5000%;
		*width: 12.4690%;
	}
	.pure-u-xl-1-6,.pure-u-xl-4-24 {
		width: 16.6667%;
		*width: 16.6357%;
	}
	.pure-u-xl-1-5 {
		width: 20%;
		*width: 19.9690%;
	}
	.pure-u-xl-5-24 {
		width: 20.8333%;
		*width: 20.8023%;
	}
	.pure-u-xl-1-4,.pure-u-xl-6-24 {
		width: 25%;
		*width: 24.9690%;
	}
	.pure-u-xl-7-24 {
		width: 29.1667%;
		*width: 29.1357%;
	}
	.pure-u-xl-1-3,.pure-u-xl-8-24 {
		width: 33.3333%;
		*width: 33.3023%;
	}
	.pure-u-xl-3-8,.pure-u-xl-9-24 {
		width: 37.5000%;
		*width: 37.4690%;
	}
	.pure-u-xl-2-5 {
		width: 40%;
		*width: 39.9690%;
	}
	.pure-u-xl-5-12,.pure-u-xl-10-24 {
		width: 41.6667%;
		*width: 41.6357%;
	}
	.pure-u-xl-11-24 {
		width: 45.8333%;
		*width: 45.8023%;
	}
	.pure-u-xl-1-2,.pure-u-xl-12-24 {
		width: 50%;
		*width: 49.9690%;
	}
	.pure-u-xl-13-24 {
		width: 54.1667%;
		*width: 54.1357%;
	}
	.pure-u-xl-7-12,.pure-u-xl-14-24 {
		width: 58.3333%;
		*width: 58.3023%;
	}
	.pure-u-xl-3-5 {
		width: 60%;
		*width: 59.9690%;
	}
	.pure-u-xl-5-8,.pure-u-xl-15-24 {
		width: 62.5000%;
		*width: 62.4690%;
	}
	.pure-u-xl-2-3,.pure-u-xl-16-24 {
		width: 66.6667%;
		*width: 66.6357%;
	}
	.pure-u-xl-17-24 {
		width: 70.8333%;
		*width: 70.8023%;
	}
	.pure-u-xl-3-4,.pure-u-xl-18-24 {
		width: 75%;
		*width: 74.9690%;
	}
	.pure-u-xl-19-24 {
		width: 79.1667%;
		*width: 79.1357%;
	}
	.pure-u-xl-4-5 {
		width: 80%;
		*width: 79.9690%;
	}
	.pure-u-xl-5-6,.pure-u-xl-20-24 {
		width: 83.3333%;
		*width: 83.3023%;
	}
	.pure-u-xl-7-8,.pure-u-xl-21-24 {
		width: 87.5000%;
		*width: 87.4690%;
	}
	.pure-u-xl-11-12,.pure-u-xl-22-24 {
		width: 91.6667%;
		*width: 91.6357%;
	}
	.pure-u-xl-23-24 {
		width: 95.8333%;
		*width: 95.8023%;
	}
	.pure-u-xl-1,.pure-u-xl-1-1,.pure-u-xl-5-5,.pure-u-xl-24-24 {
		width: 100%;
	}
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,button,input,select,textarea,.pure-g [class*="pure-u"] {
	font-family: "proxima-nova", sans-serif;
}

/* --------------------------
 * Element Styles
 * --------------------------
*/
body {
	min-width: 320px;
	color: #777;
	line-height: 1.6;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	color: rgb(75, 75, 75);
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 1.125em;
}

a {
	color: #3b8bba; /* block-background-text-normal */
	text-decoration: none;
}

a:visited {
	color: #265778; /* block-normal-text-normal */
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 10px 0;
}

aside {
	background: #1f8dd6; /* same color as selected state on site menu */
	padding: 0.3em 1em;
	border-radius: 3px;
	color: #fff;
}

aside a,aside a:visited {
	color: rgb(169, 226, 255);
}

/* --------------------------
 * Layout Styles
 * --------------------------
*/

/* Navigation Push Styles */
#layout {
	position: relative;
	padding-left: 0;
}

#layout.active {
	position: relative;
	left: 250px;
}

#layout.active #menu {
	left: 250px;
	width: 250px;
}

/* Apply the .box class on the immediate parent of any grid element (pure-u-*) to apply some padding. */
.l-box {
	padding: 1em;
}

.l-wrap {
	margin-left: auto;
	margin-right: auto;
}

.content .l-wrap {
	margin-left: -1em;
	margin-right: -1em;
}

/* --------------------------
 * Header Module Styles
 * --------------------------
*/
.header {
	font-family: "omnes-pro", sans-serif;
	max-width: 960px;
	margin: 0 auto;
	/* padding: 1em; */
	text-align: center;
	border-bottom: 1px solid #eee;
	background: #fff;
}

.header h1 {
	font-size: 300%;
	font-weight: 100;
	margin: 0;
}

.header h2 {
	font-size: 125%;
	font-weight: 100;
	line-height: 1.5;
	margin: 0;
	color: #666;
}

/* --------------------------
  * Content Module Styles
  * --------------------------
 */

/* The content div is placed as a wrapper around all the docs */
.content {
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em;
	max-width: 960px;
}

.content .content-subhead {
	margin: 2em 0 1em 0;
	font-weight: 300;
	color: #888;
	position: relative;
}

.content .content-spaced {
	line-height: 1.8;
}

.content .content-quote {
	font-family: "Georgia", serif;
	color: #666;
	font-style: italic;
	line-height: 1.8;
	border-left: 5px solid #ddd;
	padding-left: 1.5em;
}

.content-link {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	height: 100%;
	width: 20px;
	background: transparent url('/img/link-icon.png') no-repeat center
		center;
	background-size: 20px 20px;
}

@media ( -webkit-min-device-pixel-ratio : 2) , ( min-resolution :
	192dpi) {
	.content-link {
		background-image: url('/img/link-icon@2x.png');
	}
}

/* --------------------------
 * Code Styles
 * --------------------------
*/
pre,code {
	font-family: Consolas, 'Liberation Mono', Courier, monospace;
	color: #333;
	background: rgb(250, 250, 250);
}

code {
	padding: 0.2em 0.4em;
	white-space: nowrap;
}

.content p code {
	font-size: 90%;
}

.code {
	margin-left: -1em;
	margin-right: -1em;
	padding: 1em;
	border: 1px solid #eee;
	border-left-width: 0;
	border-right-width: 0;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.code code {
	font-size: 95%;
	white-space: pre;
	word-wrap: normal;
	padding: 0;
	background: none;
}

.code-wrap code {
	white-space: pre-wrap;
	word-wrap: break-word;
}

/* --------------------------
 * Footer Module Styles
 * --------------------------
*/
.footer {
	font-size: 87.5%;
	border-top: 1px solid #eee;
	margin-top: 3.4286em;
	padding: 1.1429em;
	background: rgb(250, 250, 250);
}

.legal {
	line-height: 1.6;
	text-align: center;
	margin: 0 auto;
}

.legal-license {
	margin-top: 0;
}

.legal-links {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

.legal-copyright {
	margin-top: 0;
	margin-bottom: 0;
}

/* --------------------------
 * Main Navigation Bar Styles
 * --------------------------
*/

/* Add transition to containers so they can push in and out */
#layout,#menu,.menu-link {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#layout.active .menu-link {
	left: 250px;
}

#menu {
	margin-left: -250px; /* "#menu" width */
	width: 250px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1000; /* so the menu or its navicon stays above all content */
	background: #191818;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	border-bottom: 72px solid rgba(0, 0, 0, 0.15);
}

.statusDiv {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	padding: 0.5em 1em;
	display: inline-block;
	line-height: normal;
}

.statusConnected {
	background: rgb(28, 184, 65);
}

.statusDisconnected {
	background: rgb(202, 60, 60);
}

#menuStatus {
	position: fixed;
	width: 160px;
	height: 32px;
	bottom: 0;
	margin-bottom: 20px;
	margin-left: 45px;
	text-align: center;
	z-index: 2000;
}

#menuStatusParent {
	position: absolute;
}

#menu a {
	color: #999;
	border: none;
	white-space: normal;
	padding: 0.625em 1em;
}

#menu .pure-menu-open {
	background: transparent;
	border: 0;
}

#menu .pure-menu ul {
	border: none;
	background: transparent;
}

#menu .pure-menu ul,#menu .pure-menu .menu-item-divided {
	border-top: 1px solid #333;
}

#menu .pure-menu li a:hover,#menu .pure-menu li a:focus {
	background: #333;
}

.menu-link {
	position: fixed;
	display: block; /* show this only on small screens */
	top: 0;
	left: 0; /* "#menu width" */
	background: #000;
	background: rgba(0, 0, 0, 0.7);
	font-size: 11px;
	/* change this value to increase/decrease button size */
	z-index: 10;
	width: 4em;
	height: 4em;
	padding: 1em;
}

.menu-link:hover,.menu-link:focus {
	background: #000;
}

.menu-link span {
	position: relative;
	display: block;
	margin-top: 0.9em;
}

.menu-link span,.menu-link span:before,.menu-link span:after {
	background-color: #fff;
	width: 100%;
	height: .2em;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.menu-link span:before,.menu-link span:after {
	position: absolute;
	top: -.55em;
	content: " ";
}

.menu-link span:after {
	top: .55em;
}

.menu-link.active span {
	background: transparent;
}

.menu-link.active span:before {
	-webkit-transform: rotate(45deg) translate(.5em, .4em);
	-moz-transform: rotate(45deg) translate(.5em, .4em);
	-ms-transform: rotate(45deg) translate(.5em, .4em);
	-o-transform: rotate(45deg) translate(.5em, .4em);
	transform: rotate(45deg) translate(.5em, .4em);
}

.menu-link.active span:after {
	-webkit-transform: rotate(-45deg) translate(.4em, -.3em);
	-moz-transform: rotate(-45deg) translate(.4em, -.3em);
	-ms-transform: rotate(-45deg) translate(.4em, -.3em);
	-o-transform: rotate(-45deg) translate(.4em, -.3em);
	transform: rotate(-45deg) translate(.4em, -.3em);
}

#menu .pure-menu-heading { /* 	font-size: 125%;
	font-weight: 300;
	letter-spacing: 0.1em;
	color: #fff;
	margin-top: 0; */
	/* padding: 0.5em 0.8em; */
	padding: 0em 0em;
}

/* --- DIOGO --- */
/*#menu .pure-menu-heading:hover,#menu .pure-menu-heading:focus {
	color: #999;
}*/
#menu .pure-menu-selected {
	background: #0091AC; /* #1f8dd6 */
}

#menu .pure-menu-selected a {
	color: #fff;
}

#menu li.pure-menu-selected a:hover,#menu li.pure-menu-selected a:focus
	{
	background: none;
}

/* ---------------------
 * Smaller Module Styles
 * ---------------------
*/
.pure-img-responsive {
	max-width: 100%;
	height: auto;
}

.pure-paginator .pure-button {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.pure-button {
	font-family: inherit;
	margin-right: 30px;
}

a.pure-button-primary {
	color: white;
}

.pure-table th,.pure-table td {
	padding: 0.5em 1em;
}

.table-responsive {
	margin-left: -1em;
	margin-right: -1em;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.table-responsive table {
	width: 100%;
	min-width: 35.5em;
	border-left-width: 0;
	border-right-width: 0;
}

/* green call to action button class */
.notice {
	background-color: #61B842;
	color: white;
}

.muted {
	color: #ccc;
}

/* --------------------------
 * Responsive Styles
 * --------------------------
*/
@media screen and (min-width: 35.5em) {
	.legal-license {
		text-align: left;
		margin: 0;
	}
	.legal-copyright,.legal-links,.legal-links li {
		text-align: right;
		margin: 0;
	}
}

@media screen and (min-width: 48em) {
	.l-wrap,.l-wrap .content {
		padding-left: 1em;
		padding-right: 1em;
	}
	.content .l-wrap {
		margin-left: -2em;
		margin-right: -2em;
	}
	.header,.content {
		padding-left: 2em;
		padding-right: 2em;
	}
	.header h1 {
		font-size: 350%;
	}
	.header h2 {
		font-size: 150%;
	}
	.content p {
		font-size: 1.125em;
	}
	.code {
		margin-left: auto;
		margin-right: auto;
		border-left-width: 1px;
		border-right-width: 1px;
	}
	.table-responsive {
		margin-left: auto;
		margin-right: auto;
	}
	.table-responsive table {
		border-left-width: 1px;
		border-right-width: 1px;
	}
}

@media ( min-width : 58em) {
	#layout {
		padding-left: 250px; /* left col width "#menu" */
		left: 0;
	}
	#menu {
		left: 250px;
	}
	.menu-link {
		position: fixed;
		left: 250px;
		display: none;
	}
	#layout.active .menu-link {
		left: 250px;
	}
}

.hero {
	text-align: center;
}

.hero-titles {
	font-family: "omnes-pro", sans-serif;
	padding: 0 1em;
	margin: 2em auto;
	max-width: 960px;
}

.hero-site {
	font-size: 400%;
	font-weight: 100;
	margin: 0;
	color: #1f8dd6;
}

.hero-tagline {
	font-size: 150%;
	font-weight: 100;
	line-height: 1.5;
	margin: 0 0 1em;
	color: #666;
}

.hero-cta .code {
	margin-left: auto;
	margin-right: auto;
}

a.button-cta,a.button-secondary {
	margin: 0.25em;
}

a.button-cta {
	background: #1f8dd6;
	color: #fff;
	border: 1px solid #1f8dd6;
}

a.button-secondary {
	background: #fff;
	color: #666;
	border: 1px solid #ddd;
}

.size-chart {
	width: 100%;
	font-size: 87.5%;
	line-height: 1.4;
	margin-bottom: 2em;
}

a.size-chart-item {
	display: block;
	color: #fff;
	padding: 1.45em 0;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
}

.size-chart-label {
	display: inline-block;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}

.size-chart-size {
	display: none;
}

.size-chart-base {
	background: #0e90d2;
}

.size-chart-base .size-chart-size {
	color: rgb(103, 194, 240);
}

.size-chart-grids {
	background: rgb(128, 88, 165);
}

.size-chart-grids .size-chart-size {
	color: rgb(200, 131, 255);
}

.size-chart-forms {
	background: #5eb95e;
}

.size-chart-forms .size-chart-size {
	color: rgb(161, 240, 137);
}

.size-chart-buttons {
	background: #dd514c;
}

.size-chart-buttons .size-chart-size {
	color: rgb(236, 164, 154);
}

.size-chart-menus {
	background: rgb(250, 210, 50);
}

.size-chart-menus .size-chart-size {
	color: rgb(255, 240, 134);
}

.size-chart-tables {
	background: rgb(243, 123, 29);
}

.size-chart-tables .size-chart-label {
	margin-left: -0.5em;
}

.size-chart-tables .size-chart-size {
	color: rgb(255, 190, 129);
}

.marketing {
	border-bottom: 1px solid #eee;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-bottom: 2em;
}

.marketing-customize {
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 0;
}

.marketing .content {
	margin-bottom: 0;
}

.marketing-header {
	font-weight: 400;
}

.marketing-diagram {
	margin: 2em auto;
}

.sample-buttons {
	margin: 1em auto;
	padding: 0 0.5em;
}

.sample-button {
	padding: 0.5em;
	text-align: center;
}

.sample-button .pure-button {
	width: 100%;
}

.button-a {
	background: #e1f2fa;
	color: #5992aa;
}

.button-b {
	background: #fcebbd;
	color: #af9540;
}

.button-c,.button-d,.button-e {
	border-radius: 8px;
}

.button-f,.button-g,.button-h {
	border-radius: 20px;
}

.button-c {
	background: #333;
	color: #fff;
}

.button-d {
	background: #d3eda3;
	color: #72962e;
}

.button-e {
	background: #f5ab9e;
	color: #8c3a2b;
}

.button-f {
	background: #ddaeff;
	color: #8156a7;
}

.button-g {
	background: #f57b00;
	color: #ffca95;
}

.button-h {
	background: #008ed4;
	color: #fff;
}

.sample-button .button-h {
	width: 50%; /* Updated to 80% at sm breakpoint */
}

@media screen and (min-width: 30em) {
	.size-chart-tables .size-chart-label {
		margin-left: 0;
	}
}

@media screen and (min-width: 35.5em) {
	.hero {
		margin-bottom: 3em;
	}
	.sample-button .button-h {
		width: 100%;
	}
}

@media screen and (min-width: 48em) {
	.hero-titles {
		padding: 0 2em;
	}
	.hero-site {
		font-size: 800%;
	}
	.hero-tagline {
		font-size: 250%;
	}
	a.button-cta,a.button-secondary {
		font-size: 125%;
	}
	.size-chart {
		font-size: 100%;
	}
	a.size-chart-item {
		padding: 0.5em;
		text-align: left;
	}
	.size-chart-label {
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
	}
	.size-chart-size {
		display: block;
	}
	.marketing-header {
		font-size: 150%;
	}
	.l-wrap .sample-buttons {
		padding: 0 0.5em;
	}
}

/**
 * Baby Blue theme for RainbowJS
 *
 * @author tilomitra
 */
pre .comment {
	color: #999;
}

pre .tag,pre .tag-name,pre .support.tag-name {
	color: rgb(85, 85, 85);
}

pre .keyword,pre .css-property,pre .vendor-prefix,pre .sass,pre .class,pre .id,pre .css-value,pre .entity.function,pre .storage.function
	{
	font-weight: bold;
}

pre .css-property,pre .css-value,pre .vendor-prefix,pre .support.namespace
	{
	color: #333;
}

pre .constant.numeric,pre .keyword.unit,pre .hex-color {
	font-weight: normal;
	color: #099;
}

pre .attribute,pre .variable,pre .support {
	color: #757575;
	/* skinbuilder block-page-text-normal with #1f8dd6 as primary */
}

pre .string,pre .support.value {
	font-weight: normal;
	color: #3b8bba;
	/* skinbuilder block-mine-text-low with #1f8dd6 as primary */
}

#loading {
	position: fixed;
	top: 50%;
	margin-top: -27px;
	height: 55px;
}

#channel_form_add_radio {
	margin-top: 15px;
	margin-bottom: 10px;
}

#stream_form_div {
	margin-bottom: 100px;
}

/* DIOGO */
.Table {
	display: table;
}

.Title {
	display: table-caption;
	text-align: center;
	font-weight: bold;
	font-size: larger;
}

.Heading {
	display: table-row;
	font-weight: bold;
	text-align: center;
}

.Row {
	display: table-row;
}

.Cell {
	display: table-cell;
	border: solid;
	border-width: thin;
	padding-left: 20px;
	padding-right: 20px;
}


.x_label {
	display:none;
}


a.action {
	color:#CFCFCF;
}


@media screen and (min-width: 48em) {
  #layout-in {
   	margin-left:-250px
  }
}

#sortable1:hover{
	cursor:row-resize
}



.alert {
	padding: 19px 15px;
	color: #fefefe;
	font: 14px/20px Museo300Regular, Helvetica, Arial, sans-serif;
}
.alert .msg { padding: 0 20px 0 40px;}
.alert p { margin: 0;}
.alert .toggle-alert {
	position: absolute;
	top: 7px;
	right: 10px;
	display: block;
	text-indent: -10000px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	-webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(255, 255, 255, 0.1);
	-moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(255, 255, 255, 0.1);
	box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(255, 255, 255, 0.1);
	background: rgba(0, 0, 0, 0.08) url(../img/alert.png) no-repeat 6px 6px;
	
}
.info-box {		background: #2fa9f6 url(../img/info.png) no-repeat 14px 14px; margin-bottom:1em;}
.success-box {	background: #7EB62E url(../img/success.png) no-repeat 14px 14px; margin-bottom:1em;}
.error-box {	background: #f64b2f url(../img/error.png) no-repeat 14px 14px; margin-bottom:1em;}
.notice-box {	background: #f6ca2f url(../img/notice.png) no-repeat 14px 14px; margin-bottom:1em;}

.streambolico-logo:hover{
	opacity: 0.8;
}


legend{
	font-weight: bold;
	font-size: 1.1em;
	padding-top: 2em;
}


.max-rate-warning-div{
	padding:0.5em;
	margin:auto;
	margin-top:1em;
	width:90%;
	border: 1px solid #FFCC66;
	height: 4em;
	display:none;

}


p.max-rate-warning-title{
	font-weight: bold;
	font-size: 1em;
	display:inline-block;
}

p.max-rate-warning-text{
	font-weight: 1px;
	font-size: 1em;
	display:inline-block;
}

hr{
	margin-top:1em;
	margin-bottom:1em;
	
	width:95%;
}


.each-ps-div{
	border-bottom: solid 1px;
	padding-bottom: 2em;
}

















